* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regular styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    background-color: #fff;
    color: #eee;
    height: 100vh;
     
}

.container {
    display: flex;
    flex-direction: column;
}


input {
    background-color: transparent;
    color: #111;
}

/* menu styles */
#hamburger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    
}

#hamburger-menu span {
    font-size: 7rem;
    color: #111;
}

#navbar {
    font-family: 'Noto Sans TC', sans-serif;   
}

 .navbar-open {
     width: 50vh;
     opacity: 0.8;
     height: 100vh;
     visibility: visible;
     background-color: #111;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;    
}
 
.navbar-closed {
    opacity: 0;
    width: 0;
    height: 0; 
    visibility: hidden;
    font-family: 'Noto Sans TC', sans-serif;  
}

 

#menu-close-btn-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

#menu-close-btn {
     border: none;
     font-size: 3rem;
     color: #fff;
     cursor: pointer;
 }

 a {
     text-decoration: none;
 }

.navbar-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 3rem;
    justify-content: start;
    text-decoration: none;
    color: #fff;
}



hr {
    color: #eee;
    opacity: 0.6;
}
.navbar-link:hover {
    background-color: #333;
}

.material-icons {
    margin-right: 2rem;
    margin-left: 1rem;
}

/* heading */

.heading-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}


.heading {
    text-align: center;
    margin: -0.2rem 0 4.5rem;
    margin-top: 1rem;
    color: #111;
}



/* to do list styles */

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task-groups {
text-align: center;
border: 1px solid black;
border-radius: 20px;
margin-right: 4rem;
width: 25vw;
}

.task-group-header {
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    padding: 1rem 1rem 0 1rem;
}

.task-list {
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: square;
    padding-left: 0;
}

.active-task-list {
    background-color: #111;
    cursor: pointer;
    font-weight: bold;
    list-style: inside;
}

.task-list-name {
    cursor: pointer;
    list-style: inside;
}

.new-list {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.create-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #09ba00;
    margin-bottom: 0;
}

.list-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.todo-list-container {
border: 1px solid black;
border-radius: 20px;
width: 40vw;
height: auto;
}

.todo-list-header {
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    
}

.header-background {
    background-color: #999;
}
.tasks-counter {
    font-size: 1rem;
}

.todo-list-body {
    padding-left: 6rem;
    color: #111;
}

.tasks {
    list-style: none;
}


  .task label {
    display: flex;
    align-items: center;
    position: relative;
  }
  .task {
    position: relative;
    margin-bottom: 1.25em;
  }
  
  .task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
  }

  .custom-checkbox {
      font-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
  }
  .task:hover .custom-checkbox,
  [type="checkbox"]:focus + label .custom-checkbox {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color:#999 ;
  }

  [type="checkbox"]:checked + label .custom-checkbox {
    background:#333 ;
    border-color: #fff;
    box-shadow: inset 0 0 0px 2px white;
  }
  
  [type="checkbox"]:checked + label {
    opacity: 0.5;
  }
  
  .task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: 50%;
    height: 3px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  [type="checkbox"]:checked + label::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  

.new-task {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0.2rem;
    margin-bottom: 0;
    margin-top: 3rem;
}

.task-create-btn {
    margin-top: 3rem;
}

.task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    color: #111;
}

.task-delete {
    background-color: transparent;
    color: #111;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.task-delete:hover {
    color: red;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}